{% extends 'layout.html.twig' %}

{% block title %}Contactos{% endblock %}

{% block body %}
    <h1>Contactos</h1>

    <table>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Imagen</th>
        </tr>
        {% for contacto in contactos %}
            <tr>
                <td><a href="{{ path('dwes_contactos_show', { id: contacto.id }) }}">{{ contacto.id }}</a></td>
                <td>{{ contacto.nombre }}</td>
                <td>{{ contacto.telefono }}</td>
                <td><img src="{% if contacto.imagen is not null %}{{ contacto.imagen }}{% else %}imgs/php.png{% endif %}" alt="{{ contacto.nombre }}"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
