{% extends 'layout.html.twig' %}

{% block title %}Contacto - {{ contacto.nombre }}{% endblock %}

{% block body %}
    <h1>Contacto {{ contacto.nombre }}</h1>

    <ul>
        <li>{{ contacto.id }}</li>
        <li>{{ contacto.nombre }}</li>
        <li>{{ contacto.telefono }}</li>
        <li>
            <img src="{% if contacto.imagen is not null %}{{ contacto.imagen }}{% else %}/imgs/php.png{% endif %}" alt="{{ contacto.nombre }}">
        </li>
    </ul>
{% endblock %}
