{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ nombre }}
{% endblock %}

{% block principal %}
    {# Esto es un comentario #}
    {% if nombre is defined and nombre is not null  %}
        <p>Hola {{ nombre | upper }}!! hoy es {{ fecha | date("d/m/Y") }}</p>
    {% else %}
        <p>Hola mundo!!</p>
    {% endif %}

    <ul>

        {% for i in 1..numero %}
            <ul>
                {% include 'parts/alumnos.part.html.twig' with {'alumnos' : alumnos }%}
            </ul>
        {% endfor %}
    </ul>
    <h2>
        {% include 'parts/alumnos.part.html.twig' with {'alumnos' : alumnos }%}
    </h2>
{% endblock %}