{% extends 'base.html.twig' %}

{% block title %}Bienvenide!!{% endblock %}

{% block body %}
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">Large</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="link-secondary" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary" href="{{ path('dwes_index') }}">Inicio</a>
            <a class="p-2 link-secondary" href="{{ path('dwes_contactos_listar') }}">Contactos</a>
            <a class="p-2 link-secondary" href="{{ path('dwes_about') }}">Acerca de...</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="p-2 link-secondary" href="{{ path('dwes_contacto_crud_index') }}">Contactos CRUD</a>
                <a class="p-2 link-secondary" href="{{ path('app_logout') }}">Logout - {{ app.user.email }}</a>
            {% else %}
                <a class="p-2 link-secondary" href="{{ path('login') }}">Login</a>
                <a class="p-2 link-secondary" href="{{ path('app_register') }}">Registro</a>
            {% endif %}
        </nav>
    </div>
</div>

    <main class="container">
        {% block principal %}
            <p>Este es el contenido principal</p>
        {% endblock %}
    </main>
    <footer class="blog-footer">
        <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
{% endblock %}
