{{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.nombre, {
                    'label': 'Nombre:',
                    'label_attr': {
                        'class': 'etiqueta'
                    }
                }) }}
                {{ form_row(form.telefono, { 'label': 'Teléfono:' }) }}
                {{ form_row(form.ciudad, { 'label': 'Ciudad:' }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.imagen) }}
                {{ form_row(form.email, { 'label': 'E-mail:' }) }}
                {{ form_row(form.fechaNacimiento, { 'label': 'Fecha nacimiento:' }) }}
            </div>
        </div>
        <div class="row">
            <button class="btn">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_errors(form) }}
{{ form_rest(form) }}
{{ form_end(form) }}
