{% extends 'layout.html.twig' %}

{% block title %}Edit Contacto{% endblock %}

{% block principal %}
    <h1>Edit Contacto</h1>

    {{ include('contacto_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dwes_contacto_crud_index') }}">back to list</a>

    {{ include('contacto_crud/_delete_form.html.twig') }}
{% endblock %}
