{% extends 'layout.html.twig' %}

{% block title %}Contacto index{% endblock %}

{% block principal %}
    <h1>Contacto index</h1>

    <form action="{{ path('dwes_contacto_crud_index_busqueda') }}" method="post">
        <label>Search:</label>
        <input type="text" name="busqueda" id="busqueda" value="{{ nombre | default('') }}">
        <input type="date" name="fechaInicial" id="fechaInicial" value="{{ fechaInicial | default('') }}">
        <input type="date" name="fechaFinal" id="fechaFinal" value="{{ fechaFinal | default('') }}">
        <input type="text" name="ciudad" id="ciudad" value="{{ ciudad | default('') }}">
        <input type="submit" value="Buscar">
    </form>
    {% for message in app.flashes('mensaje') %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th><a href="{{ path('dwes_contacto_crud_index_ordenada', {ordenacion: 'nombre'}) }}" title="Pincha en el título para ordenar por esta columna">Nombre</a></th>
                <th><a href="{{ path('dwes_contacto_crud_index_ordenada', {ordenacion: 'telefono'}) }}" title="Pincha en el título para ordenar por esta columna">Telefono</a></th>
                <th>Imagen</th>
                <th>e-mail</th>
                <th>ciudad</th>
                <th>Fecha de nacimiento</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contacto in contactos %}
            <tr>
                <td>{{ contacto.id }}</td>
                <td>{{ contacto.nombre }}</td>
                <td>{{ contacto.telefono }}</td>
                <td><img width="100" src="{{ asset(contacto.imagen ) }}" alt="{{ contacto.imagen }}"></td>
                <td>{{ contacto.email }}</td>
                <td>{{ contacto.ciudad }}</td>
                <td>{{ contacto.fechaNacimiento | date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('dwes_contacto_crud_show', {'id': contacto.id}) }}">show</a>
                    <a href="{{ path('dwes_contacto_crud_edit', {'id': contacto.id}) }}">edit</a>
                    <a href="{{ path('dwes_contacto_crud_delete_json', {'id': contacto.id}) }}" class="delete">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dwes_contacto_crud_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/delete.js') }}"></script>
{% endblock %}