{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Nuevo Contacto{% endblock %}

{% block principal %}
    <h1>Crea nuevo Contacto</h1>

    {{ include('contacto_crud/_form.html.twig') }}

    <a href="{{ path('dwes_contacto_crud_index') }}">back to list</a>
{% endblock %}
