{% extends 'layout.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block principal %}
    <h1>Contacto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contacto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ contacto.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ contacto.telefono }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ contacto.imagen }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dwes_contacto_crud_index') }}">back to list</a>

    <a href="{{ path('dwes_contacto_crud_edit', {'id': contacto.id}) }}">edit</a>

    {{ include('contacto_crud/_delete_form.html.twig') }}
{% endblock %}
